#teamtitle {
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  color: #161b22;
  font-size: 4em;
}
@media (min-width: 768px) {
  .MuiTabs-flexContainer {
    justify-content: center;
  }
}
